<!-- WEB SETIE MARKET V2-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device, initial-scale=1.0">
    <title>MDIP Website</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
    <!--<link rel="stylesheet"   href='static/css/style.css'>-->
    <!-- fonts============================= -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible">
    <!-- icon siteweb-->
    <link rel="shortcut icon" href="/img/fav-icon.png">


</head>

<body>
    <!-- create top var-->
    <nav class="main">
        <a href="#"  class="logoo">MDIP<span>Web</span></a>
        <ul class="menu">
            <li><a href="#" class="on">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">contact</a></li>
            <li><a href="#">shop</a></li>
            <li><a href="#">about</a></li>
        </ul>

        <div class="elements-right">
            <!-- finder-->
            <a href="#" class="search"> <i class="fas fa-search"></i> </a>
            <!-- cart-->
            <a href="#" class="cart"><i class="fas fa-cart"></i> </a>
            <!-- login-->
            <a href="#" class="user"> <i class="fas fa-user"> </i> </a>

        </div>

    </nav>

    <!-- nav contend-->
    <!-- contend-->


    <div class="uname">        
        <p class="content">
            <p class="othertrace" style="padding-top:110px ;"> Bienvenido <span>A</span> </p>
            <h1 class="reference"> Mercado <span>Digital</span> Inovador Profesional</h1>
            <br>
            <p class="content"> Este sitio le permite publicar <br> buscar , alojar y obtener <br> referencias directas en su uso personas <br> un sitio especial en  una variedad de vistas y demas <br>
                <button class="upclient"> <a href="#"> UNIRSE </a> </button> <br>
            </p>
            <img class="empress" src="/static/img/desing1-back.jpg" style="width:300px; height: 300px;">    
        </p>
    </div>


    <!-- section main contend-->>
    <section id="maint">
        <!-- contenido web site-->
        <div class="maint-cont">
            <!--text contend-->
            <div class="maint-text">

                <span> Collection </span>
                <h1> Contend confortable document </h1>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam nesciunt quisquam corrupti ad facilis officia iste, error molestias assumenda tempore modi veniam quis quasi quaerat fugit ipsa dicta cum similique.</p>
                <a href="#">Shop in market </a>
            </div>
            <!-- maint img==============-->
            <div class="maint-img">
                <img src="/static/img/main.png" alt="T-shirts">
            </div>
        </div>            


</body>
</html>
        <!--<div class="nav">
            <div class="icon">
                <a class="logo">MDIP<span>WEB</span></h1> 
            </div>
            <div class="menu">
                <nav>
                    <ul>
                        <li> <a href="#">Home</a></li>
                        <li> <a href="#">MDIP</a></li>
                        <li> <a href="#">Servicios</a></li>
                        <li> <a href="#">about</a></li>
                        <li> <a href="#">Mercado</a></li>
                    
                    </ul>
                </nav>
            </div>

            <div class="search">
                <input type="finding" name="" placeholder="Buscar Articulo/Enunciado"> 
                <a href="#" > <button class="btn1"> Buscar </button> </a>

            </div>

           
        </div>
    </div>
    <nav>
        <div>
        </div>
    </nav>
    
</body>
</html>